
$colorPrincipal: radial-gradient(circle at 88.34% 50%, #005784 0, #005686 10%, #005488 20%, #005289 30%, #0a5089 40%, #264e88 50%, #364c86 60%, #444984 70%, #4f4681 80%, #58437d 90%, #614179 100%);

$colorDos: #1386c4;

// color body
$colorTres:#f3f3f3;


